
cARdiac-AR/UserSettings/EditorUserSettings.asset
cARdiac-AR/ProjectSettings/ProjectSettings.asset
cARdiac-AR/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
cARdiac-AR/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
cARdiac-AR/Assets/WSATestCertificate.pfx
cARdiac-AR/Assets/WSATestCertificate.pfx.meta
cARdiac-AR/.vsconfig
cARdiac-AR/UserSettings/EditorUserSettings.asset
